/* Center slider container */
.center-slider {
  margin-top:20px;
  background-image: linear-gradient(to bottom,white 0%, rgba(20, 20, 203, 0.345));
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
}

/* Slider images design */
.splide__slide img {
  width: 450px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}
/* Slide Heading */
.slide-title {
  margin-top: 15px;
  font-size: 1.7rem;
  color: #007bff;
  font-weight: 700;
}

/* Slide Paragraph */
.slide-text {
  font-size: 1rem;
  margin-top: 5px;
  color: #333;
  font-weight: 500;
}
